/*
html, body {
  height: 100%;
}
*/


/* carouselStart */

#myCarousel {}

#myCarousel .carousel-inner {
    height: auto;
    width: 100%;
    /*    background-size: cover;*/
}

#myCarousel .carousel-inner img {
    width: 100%;
}

#storeListDiv .col-sm-12 {
    padding-left: 0px;
    padding-right: 0px;
    border: 0.1em solid cornflowerblue;
    /*    height: ;*/
    /*    border: 2px solid #ddd;*/
}

#storeListDiv .storeListImageDiv {
    padding: 0px;
    max-height: auto;
    height: auto;
}

#storeListDiv .storeListImageDiv img {
    /*     사진비율 :  370*150 */
    height: auto;
    width: 100%;
    border-radius: 0px;
}

#storeListDiv .caption {
    position: absolute;
    bottom: 5%;
    right: 5%;
}

#storeListDiv .caption .address {
    color: white;
    font-size: 1.3em;
    text-align: left;
}

#storeListDiv .caption .store-name {
    color: white;
    font-size: 1.5em;
    font-style: Bold;
    text-align: right;
}

.ui-content {
    margin: 0 0;
    padding: 0;
}
sp-slide{
    height: 100px;
    width: 200px;
}


/* :last-child :first-child 가상선택자*/