html, body {
  height: 100%;
}
.store-content{
    margin: 0px 13px;
    border: 1px red solid ;
}

.store-info {
    position: relative;
/*    margin: 13px;*/
    border: 1px blue solid;
    height: 80px;
    text-align:center
}

/*store-info*/
.store-info .col-xs-4,
.store-info .col-xs-8{
    padding: 0px;
    height: 100%;
}
.store-info .rate-score{
    height: 50px;
    line-height: 60px;
    text-align: center;
    font-size: 40
    
}
.store-info .rate-floater{
    height: 10px;
    float:left;
}

.store-info .rateit{
    margin-top: 5px;
}
/*.store-info .store-img{
    width: 150px;
    height: 150px;
}
.store-info .store-img img{
    width: inherit;
    height: inherit;
}*/
.store-info .floater{
    height: 40px;
    float:left;
}
.store-info .graph-text{
/*    max-width: inherit;*/
/*    position: relative;*/
    clear: left;
    font-size: 1.1em;
    color: cornflowerblue;
    
}